---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Heading from '@compo/typography/Heading.astro';
import Body from '@compo/typography/Body.astro'
import Button from '@compo/Button.astro'
import Nav from '@compo/nav/Nav.astro'
import Section from '@compo/Section.astro'
import Footer from '../layouts/TheFooter.astro';
import ExpandableCard from '@compo/ExpandableCard.astro';
import ExpandableCardList from '@compo/ExpandableCardList.astro'
import ContactUs from '@compo/ContactUs.astro'

import SliderParent from '@compo/slider/SliderParent.astro';

import data from '../data/slides'
---

<Layout title="Welcome to Astro.">
	<main>
		<Nav></Nav>

		<!-- <Heading line>Hello World</Heading>
		<Heading Level="h2">Hello World</Heading>
		<Button>About</Button> -->

		<Section style="border-b-[1px] border-b-my-gray-dark border-opacity-[0.3]">
			<p class="text-pink-500 italic"><div class="inline-block w-[24px] aspect-square bg-[url('/Images/icons/icon-quote.svg')] bg-no-repeat bg-contain"></div> Designing The Future, One Pixel At A Time  <div class="inline-block w-[24px] aspect-square bg-[url('/Images/icons/icon-quote.svg')] bg-no-repeat bg-contain -scale-x-100"></div></p>
			<Heading Level="h2" style="text-[16px]">I design minimal, easy to navigate and <span class="text-my-red underline underline-offset-8">People-Friendly</span> interfaces.</Heading>

			<p class="text-my-gray-dark">Hi!, My name is Kamil Oseni and I am a Human Interface Designer with a passion for <span class="text-white">interaction design</span>, and I absolutely adore art!.......... and Dogs!!<span class="inline-block w-[24px] aspect-square bg-[url('/Images/icons/icon-paws.svg')] bg-no-repeat bg-contain ml-1"></span></p>
		</Section>

		<Section>
			<Heading line>Featured Works</Heading>

			<SliderParent>
				<Heading slot='heading' Level="h2">Pencil Hoops <br> with <span class="text-my-red">NBA</span> & <span class="text-my-red">ESPN</span></Heading>

				<div slot="action">
					<Button slot='action'>About</Button>
					<Button fill>View Live Site</Button>
				</div>
				

				{data.map((data)=>{
					return <div tabindex="0" class={"aspect-video snap-center " + data.fill}>
					</div>
				})}
			</SliderParent>

		</Section>

		<Section>
			<Heading line>Resources</Heading>
		</Section>

		<Section>
			<Heading line>My Design <br> Process</Heading>

			<ExpandableCardList>
				<ExpandableCard 
					open
					title="Research"
					content="Understanding people’s needs and preferences is key to creating successful designs. I conduct user research to gain insights and identify pain points."
				/>

				<ExpandableCard 
					title="Ideate"
					content="In the brainstorming and ideation phase, I generate and refine ideas, encourage creativity and collaboration to come up with the best possible solutions."
				/>

				<ExpandableCard 
					title="Sketches & Design"
					content="This is where the visual aspect of my design comes into play. I sketch ideas and create detailed designs that are both visually appealing and functional."
				/>

				<ExpandableCard 
					title="Prototype"
					content="Prototyping is a crucial step in my design process. I build and test multiple iterations of my design to ensure that it meets people's needs and works effectively."
				/>

				<ExpandableCard 
					title="Launch"
					content="Launching a product can be exciting and nerve-wracking. I ensure that my design is polished, the user experience is flawless, and marketing strategy is in place"
				/>

				<ExpandableCard 
					title="Post-Launch Testing"
					content="My job doesn't end once I launch your product. I keep testing and iterating based on user feedback to ensure that my design continues to meet their needs and remain relevant."
				/>
			</ExpandableCardList>
		</Section>

		<Section>
			<Heading line>UI Designs</Heading>


			<Heading Level="h3">A Designer with a Passion for Creating <span class="text-my-red underline underline-offset-8">Innovative Products.</span></Heading>

			<Body>
				I'm a sucker for all things art - paintings, sculptures, talent, dance, the environment, anything that screams art. When I'm not binging on cartoons or anime, you can find me rollerblading, writing, or taking pictures of my surrounding or working on a new project. And of course, I have a huge soft spot for dogs and Math!......... and Dolphins!!
			</Body>

			<div class="interests text-my-gray-normal flex gap-10">
				<ul class="list-disc list-inside">
					<li>Art</li>
					<li>Anime</li>
					<li>Photography</li>
					<li>Rollerblading</li>
				</ul>

				<ul class="list-disc list-inside">
					<li>Animals</li>
					<li>Math,Logic & Puzzles</li>
					<li>Nature</li>
					<li>Video Games</li>
				</ul>
			</div>
		</Section>

		<ContactUs/>

		<Footer />
	</main>
</Layout>

<style>
</style>
