---
import Heading from "@compo/typography/Heading.astro";
import Section from "@compo/Section.astro";
import Body from '@compo/typography/Body.astro'
import BaseScroll from '@compo/BaseScroll.astro'
---
<Section>
    <Heading line>UI Designs</Heading>



    <BaseScroll/>

    <Heading Level="h3" style="leading-[24px] text-[24px] mb-[24px] mt-[64px]">A Designer with a Passion for Creating <span class="text-my-red underline underline-offset-8">Innovative Products.</span></Heading>
    <Body>
        I'm a sucker for all things art - paintings, sculptures, talent, dance, the environment, anything that screams art. When I'm not binging on cartoons or anime, you can find me rollerblading, writing, or taking pictures of my surrounding or working on a new project. And of course, I have a huge soft spot for dogs and Math!......... and Dolphins!!
    </Body>

    <p class="mt-[48px] mb-[24px]">Interests</p>
    <div class="interests text-my-gray-normal flex gap-10">
        <ul class="list-disc list-inside">
            <li>Art</li>
            <li>Anime</li>
            <li>Photography</li>
            <li>Rollerblading</li>
        </ul>

        <ul class="list-disc list-inside">
            <li>Animals</li>
            <li>Math,Logic & Puzzles</li>
            <li>Nature</li>
            <li>Video Games</li>
        </ul>
    </div>
</Section>